<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet"> 
    <title>lab4</title>
</head>
<body class="main">
    {{ range .Top}}
    <div class="top">
        <img class="top__background-img" src="{{ .Background }}" alt="header-bg">
        {{ range .Header }}
        <header class="block header">
            <img class="header__logo" src="{{ .Logo }}">
            {{ range .Navbar }}
            <nav class="header__navbar">
                <ul class="navbar__elems">
                    <li><a class="navbar__elem header-elem" href="index.html">{{ .First }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Second }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Third }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Fourth }}</a></li>
                </ul>
            </nav>
            {{ end }}
        </header>
        {{ end }}
        {{ range .Headline }}
        <div class="headline">
            <p class="headline__title">{{ .Title }}</p>
            <p class="headline__text">{{ .Subtitle }}</p>
            <button class="headline__btn"><p class="headline__btn-text">{{ .Button }}</p></button>
        </div>
        {{ end }}
    </div>
    {{ end }} 
    {{ range .MainNavbar }}
    <div class="main__navbar">
        <ul class="main__navbar-elems">  
            <li><a class="main__navbar-elem" href="#">{{ .First }}</a></li>
            <li><a class="main__navbar-elem" href="#">{{ .Second }}</a></li>
            <li><a class="main__navbar-elem" href="#">{{ .Third }}</a></li>
            <li><a class="main__navbar-elem" href="#">{{ .Fourth }}</a></li>
            <li><a class="main__navbar-elem" href="#">{{ .Fiveth }}</a></li>
            <li><a class="main__navbar-elem" href="#">{{ .Sixth }}</a></li>
        </ul> 
    </div>
    {{ end }}
    {{ range .Content }}
    <div class="content">
        {{ range .FeaturedPosts }}
        <article class="content__featured">
            <header class="content__featured-header">
                <h2 class="content__featured-header-title">{{ .Title }}</h2>
            </header>
            <div class="content__featured-posts">
                {{ range .Posts }}
                <section class="content__featured-post">
                    <a class="content__featured-posts-first-link" href="the-road-ahead.html">
                        {{ range .Post1 }}
                        <div>
                            <img class="content__featured-posts-background" src="{{ .Background }}" alt="">
                            <p class="content__featured-posts-title">{{ .Title }}</p>
                            <p class="content__featured-posts-text">{{ .Subtitle }}</p>
                            {{ range .PostInfo }}
                            <div class="content__featured-posts-inf">
                                <img class="content__featured-posts-inf-img" src="{{ .Image }}" alt="Mat-Vogles.svg">
                                <span class="content__featured-posts-inf-author">{{ .Name }}</span>
                                <span class="content__featured-posts-inf-date">{{ .Date }}</span>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </a>
                </section>
                <section class="content__featured-post">   
                    {{ range .Post2 }}
                    <div>
                        <img class="content__featured-posts-background" src="{{ .Background }}" alt="">
                        <span class="content__featured-posts-second-adv"><p class="content__featured-posts-second-adv-text">Adventure</p></span>
                        <p class="content__featured-posts-title">{{ .Title }}</p>
                        <p class="content__featured-posts-text">{{ .Subtitle }}</p>
                        {{ range .PostInfo }}
                        <div class="content__featured-posts-inf">
                            <img class="content__featured-posts-inf-img" src="{{ .Image }}" alt="Mat-Vogles.svg">
                            <span class="content__featured-posts-inf-author">{{ .Name }}</span>
                            <span class="content__featured-posts-inf-date">{{ .Date }}</span>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </section>
                {{ end }}
            </div> 
        </article>
        {{ end }}
        {{ range .MostRecent }}
        <article class="content__most-recent">
            <header class="content__most-recent-header">
                <h2 class="content__most-recent-header-title">{{ .Title }}</h2>
            </header>
            {{ range .Posts }}
            <div class="content__most-recent-posts">
                {{ range .Post1 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}   
                {{ range .Post2 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
                {{ range .Post3 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
                {{ range .Post4 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
                {{ range .Post5 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
                {{ range .Post6 }}
                <div class="content__most-recent-post">
                    <img class="content__most-recent-post-img" src="{{ .Background }}" alt="Still-Stading-background.jpg">
                    <div class="content__most-recent-post-main">
                        <p class="content__most-recent-post-main-title">{{ .Title }}</p>
                        <p class="content__most-recent-post-main-text">{{ .Subtitle }}</p>
                    </div>
                    {{ range .PostInfo }}
                    <div class="content__most-recent-post-inf">
                        <img class="content__most-recent-post-inf-img" src="{{ .Image }}" alt="William-wong.svg">
                        <span class="content__most-recent-post-inf-author">{{ .Name }}</span>
                        <span class="content__most-recent-post-inf-date">{{ .Date }}</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </article>
        {{ end }}
    </div>
    {{ end }}
    {{ range .Down}}
    <div class="down">
        <img class="down__background-img" src="{{ .Background }}" alt="">
        {{ range .Header }}
        <div class="down__header">
            <span class="header__title">{{ .Title }}</span>
            <div class="header__submit-form">
                <input class="submit-form__input" type="email" placeholder="Enter your email address">
                <button class="submit-form__button">{{ .Button }}</button>
            </div>
        </div>
        {{ end }}
        {{ range .Footer }}
        <footer class="block footer">
            <img class="footer__logo" src="{{ .Logo }}">
            {{ range .Navbar }}
            <nav class="footer__navbar">
                <ul class="navbar__elems">
                    <li><a class="navbar__elem footer-elem" href="#">{{ .First }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Second }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Third }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Fourth }}</a></li>
                </ul>   
            </nav>
            {{ end }}
        </footer>
        {{ end }}
    </div>
    {{ end }}
</body>
</html>