<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet"> 
    <title>lab4</title>
</head>
<body class="main">
    {{ range .Top }}
    <div class="top__block">
        {{ range .Header }}
        <header class="block header">
            <img class="header__logo" src="{{ .Logo }}">
            {{ range .Navbar }}
            <nav class="header__navbar">
                <ul class="navbar__elems">
                    <li><a class="navbar__elem header-elem" href="index.html">{{ .First }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Second }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Third }}</a></li>
                    <li><a class="navbar__elem header-elem" href="#">{{ .Fourth }}</a></li>
                </ul>
            </nav>
            {{ end }}
        </header>
        {{ end }}
        <div class="headline">
            <h1 class="headline__title">{{ .Title }}</h1>
            <p class="headline__text">{{ .Subtitle }}</p>
        </div>
    </div> 
    {{ end }}
    {{ range .PostContent }}
    <article class="content">
        <img class="content__post-image" src="{{ .Background }}" alt="the-road-ahead-background.jpg">
        <section class="content__post-text">
            <span>
                {{ .P1 }}
                
                {{ .P2 }}       
                
                {{ .P3 }}            
                
                {{ .P4 }}
            </span> 
        </section>
    </article>
    {{ end }}
    {{ range .Down}}
    <div class="down">
        <img class="down__background-img" src="{{ .Background }}" alt="">
        {{ range .Header }}
        <div class="down__header">
            <span class="header__title">{{ .Title }}</span>
            <div class="header__submit-form">
                <input class="submit-form__input" type="email" placeholder="Enter your email address">
                <button class="submit-form__button">{{ .Button }}</button>
            </div>
        </div>
        {{ end }}
        {{ range .Footer }}
        <footer class="block footer">
            <img class="footer__logo" src="{{ .Logo }}">
            {{ range .Navbar }}
            <nav class="footer__navbar">
                <ul class="navbar__elems">
                    <li><a class="navbar__elem footer-elem" href="#">{{ .First }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Second }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Third }}</a></li>
                    <li><a class="navbar__elem footer-elem" href="#">{{ .Fourth }}</a></li>
                </ul>   
            </nav>
            {{ end }}
        </footer>
        {{ end }}
    </div>
    {{ end }}
</body>
</html>